<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Waiter</title>
</head>

<body>

  <form action="/days" method="post"></form>

  <ul class="weekdays">
    <li>Monday</li>
    <li>Tuesday</li>
    <li>Wednesday</li>
    <li>Thursday</li>
    <li>Friday</li>
    <li>Saterday</li>
    <li>Sunday</li>
  </ul>

  <ul class="days">
    <li>
      {{#each monday}}
     <br> {{waiters}} <br>
      {{/each}}
    </li>
    <li>
      {{#each tuesday}}
     <br> {{waiters}} <br>
      {{/each}}
    </li>
    <li>
      {{#each wednesday}}
     <br> {{waiters}} <br>
      {{/each}}
    </li>
    <li>
      {{#each thursday}}
     <br> {{waiters}} <br>
      {{/each}}
    </li>
    <li>
      {{#each friday}}
     <br> {{waiters}} <br>
      {{/each}}
    </li>
    <li>
      {{#each saterday}}
     <br> {{waiters}} <br>
      {{/each}}
    </li>
    <li>
      {{#each sunday}}
     <br> {{waiters}} <br>
      {{/each}}
    </li>

  </ul>

    <button type="submit" style="margin-left: 25% ;"> <a href="/" class="link"> Logout </a>  </button>

    <button type="submit" style="margin-left: 25% ;"> <a href="/resets" class="link"> Clear </a>  </button>
 
  {{#if messages.sukuna}}
    <div class="codeMsg">{{messages.sukuna}}</div>
    {{/if}}

</body>

</html>