{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Waiter</title>
</head> --}}

<body>

  {{!-- <form action="/days" method="post"> --}}
<div class="schedule_content">

<div class="key">
  <h3>KEY :</h3>
 <span class="input-check" checked="false" style="background-color: orange ;"></span> Warning - Too little waiters for this day <br>
 <span class="input-check" checked="false" style="background-color: crimson ;"></span> Danger - Too much waiters for the day <br>
 <span class="input-check" checked="false" style="background-color: green ;"></span> Accepted - Enough waiters for this day <br>
</div>
<br>

  <ul class="weekdays">
{{#each color}}
  <li class="{{color}}">{{weekdays}}</li>
{{/each}}
  </ul>

  <ul class="days">
    <li style="margin: ;">
      {{#each monday}}
      <br> {{waiters}} <br>
      {{/each}}
      <button class="clear_button"><a href="/resets/Monday" class="link" name="mon" > Clear </a></button>
    </li>
    <li>
      {{#each tuesday}}
      <br> {{waiters}} <br>
      {{/each}}
      <button class="clear_button"><a href="/resets/Tuesday" class="link" name="tues"> Clear </a></button>
    </li>
    <li>
      {{#each wednesday}}
      <br> {{waiters}} <br>
      {{/each}}
        <button class="clear_button"><a href="/resets/Wednesday" class="link" name="wed"> Clear </a></button>
    </li>
    <li>
      {{#each thursday}}
      <br> {{waiters}} <br>
      {{/each}}
        <button class="clear_button"><a href="/resets/Thursday" class="link" name="thurs"> Clear </a></button>
    </li>
    <li>
      {{#each friday}}
      <br> {{waiters}} <br>
      {{/each}}
        <button class="clear_button"><a href="/resets/Friday" class="link" name="fri"> Clear </a></button>
    </li>
    <li>
      {{#each saturday}}
      <br> {{waiters}} <br>
      {{/each}}
        <button class="clear_button"><a href="/resets/Saturday" class="link" name="sat"> Clear </a></button>
    </li>
    <li>
      {{#each sunday}}
      <br> {{waiters}} <br>
      {{/each}}
        <button class="clear_button"><a href="/resets/Sunday" class="link" name="sun"> Clear </a></button>
    </li>

  </ul>
{{!-- </form> --}}
  <button type="submit" style="margin-left: 30% ;"> <a href="/logout" class="link"> Logout </a> </button>

  <button type="submit" style="margin-left: 30% ;"> <a href="/resets/all" class="link"> Clear All </a> </button>

  {{#if messages.sukuna}}
  <div class="codeMsg">{{messages.sukuna}}</div>
  {{/if}}

</div>
  <script>

    setTimeout(function () {
      document.querySelector(".codeMsg").innerHTML = ""
    }, 6000);

    const addColor = document.querySelector("#addColor");

    var add = addColor.length

    if (add >= 2) {
      // adding the danger class will make the text red
      addColor.classList.add("danger");
    }
    else if (add >= 1) {
      addColor.classList.add("warning");
    }
    
  </script>

</body>

{{!-- </html> --}}